@import "../../Colors.scss";
.ownFlex {
  @include centerFlex;
  flex-direction: column;
  height: 500px;
  width: 90%;
  margin: 0 auto;
  h1 {
    width: 90%;
    margin: 10px auto;
    text-align: center;
    color: $primary_color;
    letter-spacing: 3px;
  }
}
.customInput {
  background-color: $box_color;
  height: 35px;
  padding: 5px 10px;
  font-size: 16px;
  max-width: 330px;
  width: 95%;
  border-radius: 15px;
  outline: none;
  border: 2px solid $secondry_color;
  color: $secondry_color;
  font-family: $primary_Font !important;
  margin-bottom: 20px;
}
.customInputarea {
  @extend .customInput;
  height: 110px;
}
.button {
  font-family: $primary_Font;
  font-weight: bold;
  letter-spacing: 3px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  background-color: transparent;
  color: $primary_color;
  border: 2px solid $primary_color;
  text-transform: capitalize;
  &:hover {
    background-color: $primary_color;
    font-weight: bolder;
    color: $secondry_color;
  }
}
